﻿@model RentCar.Model.Cliente

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimiteCredito)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.TipoPersona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPersona.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCliente" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
