﻿@model RentCar.Model.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LimiteCredito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LimiteCredito)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.TipoPersona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoPersona.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCliente">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
