﻿@model RentCar.Model.Renta

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Renta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaRenta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRenta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaDevolucion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaDevolucion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MontoDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MontoDia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        @*<dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRenta" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
