﻿@model IEnumerable<RentCar.Model.Renta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*<input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Filtrar" class="form-control">*@
<table id="filterTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaRenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="filterTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDevolucion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoDia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRenta">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRenta">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRenta">Delete</a> |
                    @if (!item.FechaDevolucion.HasValue || item.FechaDevolucion.Value == default(DateTime))
                    {
                    <a asp-action="Devolver" asp-route-id="@item.IdRenta">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
