﻿@model IEnumerable<RentCar.Model.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Filtrar" class="form-control">
<table id="filterTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Tanda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="filterTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Tanda.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEmpleado">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEmpleado">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEmpleado">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
