﻿@model RentCar.Model.Tanda

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTanda">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
