﻿@model RentCar.Model.Inspeccion

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inspeccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ralladuras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ralladuras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadCombustible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadCombustible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GomaRespuesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GomaRespuesto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Roturas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roturas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GomasEstables)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GomasEstables)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleado.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vehiculo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vehiculo.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdInspeccion" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
