﻿@model IEnumerable<RentCar.Model.Inspeccion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Filtrar" class="form-control">
<table id="filterTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ralladuras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomaRespuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roturas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GomasEstables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehiculo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="filterTableBody">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ralladuras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadCombustible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GomaRespuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roturas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GomasEstables)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vehiculo.Descripcion)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.IdInspeccion">Edit</a> |*@
                    <a asp-action="Details" asp-route-id="@item.IdInspeccion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdInspeccion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
