﻿@model RentCar.Model.Vehiculo

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoChasis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoChasis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoMotor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoMotor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoPlaca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoPlaca)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoCombustible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoCombustible.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoVehiculo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoVehiculo.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVehiculo" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
