﻿@model RentCar.Model.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdVehiculo" />
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoChasis" class="control-label"></label>
                <input asp-for="NoChasis" class="form-control" />
                <span asp-validation-for="NoChasis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoMotor" class="control-label"></label>
                <input asp-for="NoMotor" class="form-control" />
                <span asp-validation-for="NoMotor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoPlaca" class="control-label"></label>
                <input asp-for="NoPlaca" class="form-control" />
                <span asp-validation-for="NoPlaca" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <label asp-for="IdTipoVehiculo" class="control-label"></label>
                <select asp-for="IdTipoVehiculo" class="form-control" asp-items="ViewBag.IdTipoVehiculo"></select>
                <span asp-validation-for="IdTipoVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModelo" class="control-label"></label>
                <select asp-for="IdModelo" class="form-control" asp-items="ViewBag.IdModelo"></select>
                <span asp-validation-for="IdModelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoCombustible" class="control-label"></label>
                <select asp-for="IdTipoCombustible" class="form-control" asp-items="ViewBag.IdTipoCombustible"></select>
                <span asp-validation-for="IdTipoCombustible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
